{{#partial "title" }}
    Welcome The Heroes
{{/partial}}

{{#partial "content"}}
  <div class="indexx">
      <div class="jumbotron text-center">
          <h1>Welcome to The Heroes</h1>
          <p>The Site Where heroes Meet Other Heroes </p>
          <a href="/new">
              <p><a class="btn btn-outline-primary" href="/newhero/new">+ Add New Hero</a></p>
          </a>
      </div>
  </div>
{{/partial}}

{{> layout.hbs}}