{{#partial "content"}}

    <h2 class="text-center">Create A New Hero</h2>

        <div class="myForm >
            <div class="container-sm">
                <form action="/heros" method="post" >
                    <label for="heroName">Hero Name:</label>
                    <input type="text" id="heroName" name="heroName" required>
                    <br>

                    <label for="heroAge">Hero Age :</label>
                    <input type="number" name="heroAge" id="heroName" required>
                    <br>

                    <label for="heroStrength">Hero Strength:</label>
                    <input type="text" id="heroStrength" name="heroStrength" required>
                    <br>

                    <label for="heroAge">Hero Age :</label>
                    <input type="number" name="heroAge" id="heroName" required>
                    <br>

                    <label  for="heroWeakness">Hero Weakness: </label>
                    <input type="text" id="heroWeakness" name="heroWeakness" required>
                    <br>
                    <br>

                    <p class="text-center"><a class="btn btn-outline-primary" href="/"> Create a new Hero.</a> </p>
                    <p class="text-center"><a class="btn btn-outline-primary" href="/newsquad"> Create a new Squad.</a> </p>

                </form>

            </div>
        </div>




{{/partial}}

{{> "layout.hbs"}}