{{#partial "content"}}

    <h2 class="text-center">Create A New Squad</h2>



    <div class="myForm1">
        <div class="container-sm" style="max-width: 500px;">
            <form action="/heros" method="post">
                <label for="squadName">Squad Name:</label>
                <input type="text" id="squadName" name="squadName" required>
                <br>

                <label for="squadAge">Squad Age :</label>
                <input type="number" name="squadAge" id="squadName" required>
                <br>

                <label for="cause">Cause:</label>
                <input type="text" id="cause" name="cause" required>
                <br>
                <br>

                <p class="text-center"><a class="btn btn-outline-primary" href="/squaddetails"> Create a new one.</a> </p>

            </form>

        </div>
    </div>


{{/partial}}

{{> "layout.hbs"}}