

{{#partial "content"}}
    <div class="jumbotron">
        <h2 class="display-3">All Squads</h2>
        <br>


        <div class="list-group">
            {{#each Squad}}
                My Squad is: {{Squad.squadName}})

                    <p>{{Squad.squadSize}}</p>
                    <p>{{Squad.squadName}}</p>
                    <p>{{Squad.SquadCause}}</p>
                
            {{/each}}

        </div>

        <p type="submit" class="text-center"><a class="btn btn-outline-primary" href="/newsquad"> Add a new Squad.</a> </p>
    </div>


{{/partial}}
{{> layout.hbs}}