

{{#partial "content"}}
    <div class="jumbotron text-center">
        <h2 class="display-3"><u>All Squads</u></h2>
        <br>


        <div class="list-group">

                My Squad is: {{Squad.squadName}}

                    <p>{{Squad.squadSize}} mX number of Heroes</p>
                <p><small>{{Squad.squadName}} Squad</small></p>
                    <p>{{Squad.SquadCause}}</p>



        </div>

        <p type="submit" class="text-center"><a class="btn btn-outline-primary" href="/newsquad"> Add a new Squad.</a> </p>
    </div>


{{/partial}}
{{> layout.hbs}}