

{{#partial "content"}}
    <div class="jumbotron text-center">
        <h2 class="display-3"><u>All Squads</u></h2>
        <br>


        <div class="list-group">
            {{#each Squad}}
           <div>
               <p>{{Squad.squadSize}}</p>
               <p>{{Squad.squadName}}</p>
               <p>{{Squad.squadCause}}</p>
           </div>
              {{/each}}



        </div>

        <p type="submit" class="text-center"><a class="btn btn-outline-primary" href="/newsquad"> Add a new Squad.</a> </p>
    </div>


{{/partial}}
{{> layout.hbs}}