{{#partial "content"}}
    <p>Content:</p>
    <p>{{Hero.heroName}}</p>
    <h5>Created At:</h5>
    <p> {{Hero.heroAge}}</p>
    <p> {{Hero.heroStrength}}</p>
    <p> {{Hero.heroWeakness}}</p>

{{/partial}}
{{> layout.hbs}}