{{#partial "content"}}


<div class="jumbotron">
    <h1> The Heroes Details </h1>
    <div class="list-group">

      <ul>
          <li><h4> Hero Name:{{Hero.heroName}}</h4></li>
          <li><h4> Hero Name:{{Hero.heroAge}}</h4> </li>
          <li><h4>Hero Powers: {{Hero.heroStrength}}</h4></li>
          <li><h4>Hero Weaknesses: {{Hero.heroWeakness}}</h4></li>
      </ul>

        <hr>


    <br>
        <p><a class="btn btn-lg btn-success" href="/newhero">+ Add New Hero</a></p>


        <p><a class="btn btn-lg btn-danger" href="/squaddetails">All squads</a></p>
</div>
</div>


{{/partial}}
{{> layout.hbs}}